$primary-color: #e31d39;
$light: #fff;
$semilight: #f2f4f7;
$semidark: #474955;
main.authentication {
  display: flex;
  background-color: #F6F8FA;

  section {
    width: 100%;
    min-height: 100vh;

    &.image {
      background-color: #cccccc;
      background-size: cover;
      background-position: center;
    }

    &.form {
      padding: 50px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light;
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        padding: 50px;
        > img {
          width: 200px;
          margin-bottom: 10px;
        }

        .form-control{
          width: 100%;
        }

        > h1.title {
          margin: 0;
          font-family: "Lexend-bold";
          color: $semidark;
        }

        > p {
          color: $semidark;
          text-align: center;
          margin-bottom: 0;
          padding-top: 20px;
        }

        > a,
        button {
          &.link {
            margin: 20px 0;
            color: $primary-color;
          }
          margin-top: 10px;
        }

      }
    }
  }
}
