/**
 * Developed by PT Teknologi Anak Nek Negeri (ANTECH)
 * URL : https: */

 $primary-color: #e31d39;
 $light: #fff;
 $semilight: #f2f4f7;
 $semidark: #474955;

//  $primary-color: #093eb6;
//  $secondary-color: #ffda44;
//  $primary-color-hover: rgba(9, 62, 182, 0.65);

$primary-font: "Roboto Regular";
$secondary-font: "Roboto Bold";

nav.sidenav {
  position: fixed;
  z-index: 20;
  width: 300px;
  -webkit-transition: 300ms;
  transition: 300ms;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 0px 10px -5px #888888;

  a.close_menu {
    display: none;
  }

  > div {
    position: relative;
    background: $light;
    height: auto;
    min-height: 100%;

    &.primary {
      position: fixed;
      width: 50px;
      padding: 10px 0;
      z-index: 1;

      div.logoContainer {
        width: 100%;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        > img.instLogo {
          width: 30px;
          margin: 5px 10px;
        }
      }

      > div.footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        width: 50px;
        bottom: 0;

        > a {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: transparent;
          min-height: 16px;
          color: $primary-color;
          cursor: pointer;
          -webkit-transition: 300ms;
          transition: 300ms;
          font-size: 20px;
          width: 100%;
          height: 50px;

          &:hover {
            color: #3a3f46;
          }

          &.nav_create > p {
            margin: 0;
            color: #677078;
            padding: 10px;
            border-radius: 3px;
            background: #15cd72;
          }
        }

        div.menu {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: transparent;
          min-height: 16px;
          color: #677078;
          cursor: pointer;
          -webkit-transition: 300ms;
          transition: 300ms;
          width: 100%;
          font-size: 20px;
          height: 50px;

          &:hover {
            .menu_dropdown {
              display: flex;
            }
          }

          > {
            svg {
              margin-right: 5px;
              color: $primary-color;
            }

            div.nav_user_status {
              background-color: #ff5e6d;
              width: 10px;
              height: 10px;
              border-radius: 100%;
              position: absolute;
              right: 15px;
              bottom: 10px;
            }
          }

          .menu_dropdown {
            flex-direction: column;
            position: absolute;
            background: $primary-color;
            width: 200px;
            top: -90px;
            height: 130px;
            left: 50px;
            -webkit-box-shadow: 0 0 5px -3px;
            box-shadow: 0 0 5px -3px #000;
            border-radius: 3px;
            display: none;

            > {
              ._header {
                border-bottom: 1px solid #dfdfdf;
                padding: 10px 15px;

                h4,
                h6 {
                  margin: 0;
                  font-family: $secondary-font;
                }

                h4 {
                  font-size: 15px;
                  color: $primary-color;
                }

                h6 {
                  font-size: 11px;
                  color: #8d8d8d;
                }
              }

              ._body {
                padding: 10px 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                > a {
                  font-family: $secondary-font;
                  font-size: 14px;
                  width: 100%;
                  padding: 5px 15px;
                  color: $primary-color;

                  &:hover {
                    background-color: $primary-color;
                    color: $primary-color;
                  }

                  &.logout {
                    font-size: 14px;
                    color: #8b0000;
                    &:hover {
                      color: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.secondary {
      position: absolute;
      left: 50px;
      width: 250px;
      padding: 10px;

      div.logoContainer {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        > img.companyLogo {
          width: 80%;
        }
      }
      p {
        margin-bottom: 10px;
        font-family: "Roboto Bold";
      }
      p.logo_name {
        padding: 0 10px 10px;
        margin-top: 0;
        color: $primary-color;
        word-break: break-word;
        font-size: 15px;
        font-weight: bolder;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  nav.sidenav {
    left: -100%;
    width: 100%;

    > div.note {
      width: 300px;
    }

    a.close_menu {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      font-size: 17.5px;
      top: 20px;
      right: 10px;
      color: #dfdfdf;

      > i {
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
    }
    .secondary{
      width: calc(100% - 50px) !important;
    }
  }
}

div.nav-menu {
  position: fixed;
  z-index: 11;
  top: 0;
  margin: 0 10px;
  height: 75px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;

  > a {
    background-color: $primary-color;
    color: #3a3f46;
    cursor: pointer;
    box-shadow: 1px 1px 1px solid #3a3f46;
    border-radius: 5px;
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 991px) {
  div.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  div.nav-open {
    left: 0;
  }
}

/*# sourceMappingURL=nav.css.map */
