$primary-color: #e31d39;
$light: #fff;
$semilight: #f2f4f7;
$semidark: #474955;

footer {
  display: block;
  > nav {
    // display: flex;
    &.bottom {
      display: flex;
      justify-content: center;
      background: $light;
      height: 100px;
      > div.wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        > p {
          color: $semidark;
          margin: 0;
          font-family: 'Lexend-light';
        }
        > div {
          display: flex;
          > a {
            text-decoration: none;
            color: $semidark;
            margin-left: 15px;
            font-family: 'Lexend-light';
          }
        }
      }
    }
  }
  @media (max-width: 1220px) {
    > nav {
      // display: flex;
      &.bottom {
        > div.wrap {
          width: 90%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    > nav {
      // display: flex;
      &.bottom {
        height: auto;
        padding: 15px 0;
        > div.wrap {
          flex-direction: column;
          align-items: flex-start;
          >div{
            display: flex;
            flex-direction: column;
            >a{
              margin: 0;
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}
